@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: #000000;
    overflow-x: hidden;
  }
  
  #root {
    background-color: #000000;
    min-height: 100vh;
  }
}